<!-- easyui CSS 文件 -->
<link rel=icon type="image/x-icon" href="__PUBLIC__/images/favivon.ico" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/demo/demo.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon_my.css">
<link href="__PUBLIC__/easyui/themes/icons/icon-all.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/css/mystyle.css" rel="stylesheet" type="text/css" />
<!-- <link href="__PUBLIC__/lightbox/css/lightbox.css" rel="stylesheet" type="text/css" /> -->