.icon-login{
	background:url('icons_my/login.png') no-repeat center center;
}
.icon-regedit{
	background:url('icons_my/key-add.png') no-repeat center center;
}.icon-user{
	background:url('icons_my/admin.png') no-repeat center center;
}.icon-set{
	background:url('icons_my/set.png') no-repeat center center;
}.icon-publish{
	background:url('icons_my/publish.png') no-repeat center center;
}
.icon-system{
	background:url('icons_my/system.png') no-repeat center center;
}.icon-info{
	background:url('icons_my/info.png') no-repeat center center;
}.icon-ggao{
	background:url('icons_my/ggao.png') no-repeat center center;
}
.icon-gly{
	background:url('icons_my/gly.png') no-repeat center center;
}
.icon-gyy{
	background:url('icons_my/gyy.png') no-repeat center center;
}
.icon-cj{
	background:url('icons_my/cj.png') no-repeat center center;
}.icon-gyww{
	background:url('icons_my/folder-table.png') no-repeat center center;
}.icon-word{
	background:url('icons_my/page-white-word.png') no-repeat center center;
}.icon-excel{
	background:url('icons_my/page-white-excel.png') no-repeat center center;
}
.icon-fileAdd{
	background:url('icons_my/page-white-add.png') no-repeat center center;
}.icon-fileMod{
	background:url('icons_my/page-white-edit.png') no-repeat center center;
}.icon-filemy{
	background:url('icons_my/folder-user.png') no-repeat center center;
}
.icon-folderexplore{
	background:url('icons_my/folder-explore.png') no-repeat center center;
}.icon-graphic{
	background:url('icons_my/graphic.png') no-repeat center center;
}
.icon-search2{
	background:url('icons_my/search2.png') no-repeat center center;
}





